h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
}

.success_msg_wrap
{
    display: none;
    margin-top: 20px;
}

.hck_domain_wrap th,
.hck_domain_wrap td
{
    text-align: center;
}

.hck_dmn_name {
    margin: 0 0 30px;
}

.hck_dmn_id {
    margin-top: 30px;
}

.hck_domain_topWrap {
    text-align: right;
    margin: 30px;
}

.hck_domain_topWrap a
{
    display: inline-block;
}